<p id="notice"><%= notice %></p>
  <div class="page-header" >
    <h1>Estados</h1>
  </div>

  <%  @statuses.each do |status| %>
  <div class="status">
   <strong><%= status.nombre %></strong>
    <p><%= status.contenido %></p>
    <p><%= link_to "Hace mas o menos " + time_ago_in_words(status.created_at), status %></p>
    
    <div class="dropdown" id="admin" >
       <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Acciones
      <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
        <li><%= link_to "Editar", edit_status_path(status) %></li>
        <li><%= link_to "Borrar", status, method: :delete, data: { confirm: 'Estas seguro que quieres eliminar este registro?'} %></li>
      </ul>
    </div>
  </div>
<br>
<% end %>
<div style="text-align: center;">
  <%= link_to "Nuevo Registro", new_status_path,class: "btn btn-success" %> 
</div>